@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-image: linear-gradient(120deg, #65f1f6 0%, #8ffd85 100%);
  color: white;
  font-family: "Poppins", sans-serif;
  min-height: 100vh;
}

.app {
  width: 100%;
  height: 100%;
  position: absolute;
}

/* Title Header */
.title-header {
  text-align: center;
  padding-top: 5%;
}

.title-header h1 {
  font-size: 500%;
}

/* Todo Creation */
.todo-creator {
  text-align: center;
  align-items: center;
}

.todo-creator p {
  padding-top: 2%;
  padding-bottom: 2%;
  font-size: 150%;
}

/* Todos */
.task-desc {
  margin-right: 2%;
}

th,
td {
  padding: 3% 4% 0 0;
}

table {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  padding-top: 400px;
}

input {
  width: 25%;
  height: 50%;
  padding-right: 2%;
}
